[submodule "components/BusIO"]
	path = components/BusIO
	url = https://github.com/DomotiqU-S/BusIO
[submodule "components/CAP1298"]
	path = components/CAP1298
	url = https://github.com/DomotiqU-S/CAP1298
	branch = submodule_main
[submodule "components/IS31FL3235A"]
	path = components/IS31FL3235A
	url = https://github.com/DomotiqU-S/IS31FL3235A
	branch = submodule_main
